{% extends "AppBlog/padre.html" %}

{% load static %}


{% block titulo %} 


<h1><I>Quienes somos</I></h1>

{% endblock %}  


{% block subtitulo %} 

<h3>Somos Franco, Mercedes y Maia</h3>

{% endblock %}  


{% block cuerpo %}
                     

Nuestro trabajo consiste en acompañarlos y asesorarlos en todo lo que hace a la fiesta de sus sueños. Diseñamos el evento en cada uno de sus aspectos. 

<p>No importa de donde eres, somos tus Wedding Planners ONLINE!</p> 


{% endblock %} 

{% block imagen %}

<div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppBlog/assets/img/nosotros.jpg' %}" alt="..." /></div>

{% endblock %} 