{% extends "AppBlog/padre.html" %}

{% load static %}


{% block titulo %} 

<h1><I>En éste día tan especial</I></h1>

{% endblock %}  


{% block subtitulo %} 

<h3>Los mejores <U>TIPS</U> para organizar tu casamiento</h3>

{% endblock %}  

{% block cuerpo %}
                     

Los preparativos son para disfrutar. Por eso aqui podrás ver una guía con los mejores datos que necesitas a la hora de comenzar a organizar ese día que siempre soñaste.


{% endblock %} 

{% block imagen %}

<div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppBlog/assets/img/ramo.jpg' %}" alt="..." /></div>

{% endblock %} 
