{% extends "AppBlog/padre.html" %}

{% load static %}


{% block titulo %} 

<h1>¿Qué necesito contratar?</h1>

{% endblock %}  


{% block subtitulo %} 

<h3>No te olvides ni el más mínimo detalle</h3>

{% endblock %} 

{% block botones %}

<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Salones' %}">Salones</a>
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Vestidos' %}">Vestidos</a>
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Proveedores' %}">Proveedores</a>

{% endblock %} 

{% block cuerpo %}
                     

<p>Ramo de flores. Maquilladores. Peluqueros. Fotógrafo. <B>¿QUE MÁS?</B></p>
¿Quiero un ambientador? ¿Solo contrataré un fotografo o tambien quisiera video? Son muchísimos los proveedores que participarán de éste día. <B>No te olvides de nada!</B>

{% endblock %} 

{% block imagen %}

<div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppBlog/assets/img/proveedores.jpg' %}" alt="..." /></div>

{% endblock %} 
