{% extends "AppBlog/padre.html" %}

{% load static %}


{% block titulo %} 

<h1>¿Dónde será el evento?</h1>

{% endblock %}  


{% block subtitulo %} 

<h3>Qué tener en cuenta a la hora de elegir el salón</h3>

{% endblock %} 

{% block botones %}

<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Salones' %}">Salones</a>
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Vestidos' %}">Vestidos</a>
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Proveedores' %}">Proveedores</a>

{% endblock %} 


{% block cuerpo %}
                     

<p>Elegir el salon no es nada sencillo.</p>

¿Buscas algo con verde para organizar un civil en el exterior? ¿Ceremonia religiosa? ¿Preferis algo moderno o un salon mas campestre? Aquí podras encontrar un montón de opciones para encontrar la que mejor se adapta a tus gustos y tu presupuesto. 


{% endblock %} 

{% block imagen %}

<div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppBlog/assets/img/salones.jpg' %}" alt="..." /></div>

{% endblock %} 