{% extends "AppBlog/padre.html" %}

{% load static %}


{% block titulo %} 

<h1>El vestido de tus sueños</h1>

{% endblock %}  


{% block subtitulo %} 

<h3>¿Cómo elegir el mejor vestido?</h3>

{% endblock %}  

{% block botones %}

<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Salones' %}">Salones</a>
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Vestidos' %}">Vestidos</a>
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Proveedores' %}">Proveedores</a>

{% endblock %} 

{% block cuerpo %}
                     

En ésta sección encontraras diseñadores con diferentes estilos y diseños para que puedas inspirarte y crear tu <B><I> VESTIDO PERFECTO</B></I></7I>

{% for vestido in resultado %}
    <ul>
        <li>Autor: {{vestido.autor}}</li>
        <li>Diseñador: {{vestido.diseñador}}</li>
        <li>Estilo: {{vestido.estilo}}</li>
        <li>Fecha de Carga: {{vestido.fechaCarga}}</li>
        {% if vestido.imagen %}
        <img src = "{{vestido.imagen.url}}" >
        {% endif %}

       <button><a href="{% url 'EditarVestidos' vestido.diseñador %}" > Editar </a> </button>
       <button><a href="{% url 'BorrarVestido' vestido.id %}" > Borrar </a> </button>


    </ul>
{% endfor %} 

{% endblock %} 


